ul {
  list-style-type: none;
  display: flex;
}
i{
  padding: 10px 10px;
}
i.fa-leaf{
  color: green;
}
.navbar{
  /* color:#000066 */
  background: #194775;
  color:white;
}
.input-local{
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  /* border: 1px solid #ced4da; */
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
